/* TAB RESOLUTION */

@media screen and (max-width:991px) {
    .landing-page-first {
        height: auto;
        background-color: #F1F3FF;
    }
    .navbar {
        height: 97px;
        padding: 0px;
    }
    .header-logo {
        width: 100px;
        height: 34px;
        left: 10%;
        background: #0D28A6;
        position: relative;
    }
    .header-list {
        display: none;
        position: relative;
        padding: 0px;
        margin-right: 10%;
    }
    .header-list ul {
        padding: 0px;
        margin: 0px;
    }
    .header-list li {
        position: static;
        color: black;
        list-style: none;
        float: left;
        margin-right: 32px;
        font-size: 14px;
        line-height: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .header-list a {
        color: black;
    }
    .header-list button {
        display: flex;
        height: 36px;
        align-items: center;
        padding: 8px 12px;
        margin: 0px;
        font-style: normal;
        font-weight: bold;
    }
    .btn .in-sidebar {
        position: absolute;
        left: 20px;
        padding: 8px 8px 8px 32px;
    }
    .sidebar {
        height: 100%;
        width: 0;
        color: white;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: black;
        display: block;
        transition: 0.3s;
    }
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    .openbtn {
        font-size: 20px;
        cursor: pointer;
        color: none;
        background-color: none;
        padding: 10px 15px;
        border: none;
    }
    #main {
        display: block;
        transition: margin-left .5s;
        padding: 16px;
    }
    .services {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        padding-left: 0px;
        width: 100%;
        height: auto;
    }
    .opening {
        position: relative;
        left: 10%;
        width: 80%;
        height: 327px;
        margin-right: 50px;
    }
    .services h1 {
        display: flex;
        color: black;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
    }
    .services p {
        position: relative;
        color: black;
        width: 80%;
        margin-top: 20px;
        font-size: 14px;
        line-height: 20px;
    }
    .mulai {
        height: 40px;
        display: flex;
        align-items: center;
        padding: 8px 12px;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
    }
    .car {
        position: relative;
        height: auto;
        margin: 0;
        align-content: center;
    }
    .car img {
        position: relative;
        width: 75%;
        height: auto;
    }
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;
        width: 100%;
        left: 10%;
        height: 128px;
    }
    .footer-list {
        top: 0px;
        font-style: normal;
        font-weight: 500;
        font-size: 12 px;
        line-height: 20px;
        list-style: none;
        color: black;
    }
    .footer-list li {
        margin-bottom: 16px;
    }
    .social {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        padding: 0px;
        margin-bottom: 40px;
    }
    .social li {
        list-style: none;
        float: left;
        margin-right: 16px;
        margin-top: 16px;
    }
    .footer-logo {
        position: relative;
        width: 100px;
        height: 34px;
        background: #0D28A6;
    }
    .third {
        margin: 0px 0px 40px 0px;
    }
    .second {
        margin: 0px 40px 0px 0px;
    }
    .first {
        margin: 0px 40px 0px 0px;
    }
}


/* MOBILE RESOLUTION */

@media screen and (max-width:670px) {
    .landing-page-first {
        height: auto;
        background-color: #F1F3FF;
    }
    .navbar {
        height: 97px;
        padding: 0px;
    }
    .header-logo {
        width: 100px;
        height: 34px;
        left: 10%;
        background: #0D28A6;
        position: relative;
    }
    .header-list {
        display: none;
        position: relative;
        padding: 0px;
        margin-right: 10%;
    }
    .header-list ul {
        padding: 0px;
        margin: 0px;
    }
    .header-list li {
        position: static;
        color: black;
        list-style: none;
        float: left;
        margin-right: 32px;
        font-size: 14px;
        line-height: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .header-list a {
        color: black;
    }
    .header-list button {
        display: flex;
        height: 36px;
        align-items: center;
        padding: 8px 12px;
        margin: 0px;
        font-style: normal;
        font-weight: bold;
    }
    .btn .in-sidebar {
        position: absolute;
        left: 20px;
        padding: 8px 8px 8px 32px;
    }
    .sidebar {
        height: 100%;
        width: 0;
        color: white;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: black;
        display: block;
        transition: 0.3s;
    }
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    .openbtn {
        font-size: 20px;
        cursor: pointer;
        color: none;
        background-color: none;
        padding: 10px 15px;
        border: none;
    }
    #main {
        display: block;
        transition: margin-left .5s;
        padding: 16px;
    }
    .services {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        padding-left: 0px;
        width: 100%;
        height: auto;
    }
    .opening {
        position: relative;
        left: 10%;
        width: 80%;
        height: 327px;
        margin-right: 50px;
    }
    .services h1 {
        display: flex;
        color: black;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
    }
    .services p {
        position: relative;
        color: black;
        width: 80%;
        margin-top: 20px;
        font-size: 14px;
        line-height: 20px;
    }
    .mulai {
        height: 40px;
        display: flex;
        align-items: center;
        padding: 8px 12px;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
    }
    .car {
        position: relative;
        height: auto;
        margin-top: 30px;
        align-content: center;
    }
    .car img {
        position: relative;
        width: 100%;
        height: auto;
    }
    .footer {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;
        width: 100%;
        height: 128px;
    }
    .footer-list {
        top: 0px;
        font-style: normal;
        font-weight: 500;
        font-size: 12 px;
        line-height: 20px;
        list-style: none;
        color: black;
    }
    .footer-list li {
        margin-bottom: 16px;
    }
    .social {
        display: block;
        list-style: none;
        padding: 0px;
        margin-bottom: 40px;
    }
    .social li {
        list-style: none;
        float: left;
        margin-right: 16px;
        margin-top: 16px;
    }
    .footer-logo {
        position: absolute;
        width: 100px;
        height: 34px;
        top: 36px;
        background: #0D28A6;
    }
    .fourth {
        margin: 40px 0px 0px 0px;
        height: auto;
    }
}