html {
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica;
}

.landing-page-first {
    height: 504px;
    background-color: #F1F3FF;
}

.navbar {
    height: 97px;
    padding: 0px;
}

.header-logo {
    width: 100px;
    height: 34px;
    left: 10%;
    background: #0D28A6;
    position: relative;
}

.header-list {
    display: block;
    position: relative;
    padding: 0px;
    margin-right: 10%;
}

.header-list ul {
    padding: 0px;
    margin: 0px;
}

.header-list li {
    position: static;
    color: black;
    list-style: none;
    float: left;
    margin-right: 32px;
    font-size: 14px;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.header-list a {
    color: black;
}

.header-list button {
    display: flex;
    height: 36px;
    align-items: center;
    padding: 8px 12px;
    margin: 0px;
    font-style: normal;
    font-weight: bold;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.btn .in-sidebar {
    position: absolute;
    left: 20px;
    padding: 8px 8px 8px 32px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    color: none;
    padding: 10px 15px;
    border: none;
}

#main {
    display: none;
    transition: margin-left .5s;
    padding: 16px;
}

.services {
    display: inline-flex;
    margin-top: 60px;
    padding-left: 0px;
    width: auto;
    height: 327px;
}

.opening {
    position: relative;
    left: 10%;
    width: 45%;
    height: 327px;
    margin-right: 50px;
}

.services h1 {
    display: flex;
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}

.services p {
    position: relative;
    color: black;
    width: 80%;
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
}

.mulai {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.car {
    position: relative;
    height: auto;
}

.car img {
    align-items: flex-end;
    display: flex;
    position: relative;
    width: 70%;
    vertical-align: bottom;
    height: auto;
    float: right;
}

.our-services {
    display: flex;
    position: relative;
    width: 100%;
    height: 428px;
    margin-top: 40px;
}

.description {
    display: block;
    position: relative;
    width: 300px;
    left: 50%;
    top: 48px;
    padding: 0px;
}

.description h1 {
    position: static;
    width: 350px;
    height: 72px;
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.description p {
    position: static;
    width: 468px;
    height: 60px;
    color: black;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.description ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.description img {
    margin-right: 16px;
}

.description li {
    position: static;
    width: 300px;
    height: 24px;
    left: 40px;
    top: 2px;
    margin-bottom: 20px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: black;
}

.service-image img {
    position: absolute;
    max-width: 40%;
    height: auto;
    left: 5%;
    top: 68px;
}

.why-us {
    width: 100%;
    height: 308px;
    left: 10%;
    margin-top: 150px;
}

.why-us h1 {
    height: 36px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: black;
    margin-bottom: 16px;
}

.items {
    padding: 24px;
    position: relative;
    max-width: 200px;
    height: 240px;
    top: 0px;
    border-radius: 8px;
    margin-right: 50px;
}

.why-us h3 {
    position: static;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: black;
}

.why-us p {
    position: relative;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin: 8px 0px;
}

.icons {
    position: static;
    width: 32px;
    height: 32px;
    left: 24px;
    top: 24px;
    margin-bottom: 16px;
}

.testimonial {
    position: relative;
    margin-top: 150px;
}

.testimonial h1 {
    position: static;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: black;
    text-align: center;
}

.testimonial p {
    padding: 20px;
    position: static;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: black;
    text-align: center;
    margin-bottom: 40px;
}

.start-now {
    position: relative;
    width: 80%;
    height: 326px;
    margin-top: 150px;
    left: 10%;
    background: #0D28A6;
    border-radius: 13px;
}

.item {
    position: static;
    width: 619px;
    height: 270px;
    background: #F1F3FF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-bottom: 24px;
}

.t-image {
    position: absolute;
    width: 80px !important;
    height: 80px;
    left: 46px;
    top: 95px;
}

.r-image {
    position: absolute;
    width: 80px !important;
    height: 16px;
}

.text-testimoni {
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 415px;
    height: 132px;
    left: 172px;
    top: 69px;
}

.rent-head {
    position: relative;
    font-size: 36px;
    height: auto;
    top: 40px;
}

.rent-text {
    position: relative;
    height: auto;
    font-size: 14px;
    margin-top: 80px;
    padding: 0px 30px;
}

.rent-btn {
    position: relative;
    align-self: center;
    top: 10px;
    left: 40%;
}

.faq {
    position: relative;
    height: 344px;
    margin-top: 100px;
    left: 10%;
}

.faq h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: black;
}

.list-faq {
    width: 668px;
    height: 344px;
    left: 60%;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    left: 10%;
    height: 128px;
    margin-top: 200px;
}

.footer-list {
    top: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 12 px;
    line-height: 20px;
    list-style: none;
    color: black;
}

.footer-list li {
    margin-bottom: 16px;
}

.social {
    display: flex;
    list-style: none;
    padding: 0px;
    margin-bottom: 40px;
}

.social li {
    list-style: none;
    float: left;
    margin-right: 16px;
    margin-top: 16px;
}

.footer-logo {
    position: absolute;
    width: 100px;
    height: 34px;
    top: 36px;
    background: #0D28A6;
}