html {
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica;
}

.landing-page-first {
    height: 504px;
    background-color: #F1F3FF;
}

.navbar {
    height: 97px;
    padding: 0px;
}

.header-logo {
    width: 100px;
    height: 34px;
    left: 10%;
    background: #0D28A6;
    position: relative;
}

.header-list {
    display: block;
    position: relative;
    padding: 0px;
    margin-right: 10%;
}

.header-list ul {
    padding: 0px;
    margin: 0px;
}

.header-list li {
    position: static;
    color: black;
    list-style: none;
    float: left;
    margin-right: 32px;
    font-size: 14px;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.header-list a {
    color: black;
}

.header-list button {
    display: flex;
    height: 36px;
    align-items: center;
    padding: 8px 12px;
    margin: 0px;
    font-style: normal;
    font-weight: bold;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.btn .in-sidebar {
    position: absolute;
    left: 20px;
    padding: 8px 8px 8px 32px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    color: none;
    padding: 10px 15px;
    border: none;
}

#main {
    display: none;
    transition: margin-left .5s;
    padding: 16px;
}

.services {
    display: inline-flex;
    margin-top: 60px;
    padding-left: 0px;
    width: auto;
    height: 327px;
}

.opening {
    position: relative;
    left: 12.5%;
    width: 45%;
    height: 327px;
    margin-right: 50px;
}

.services h1 {
    display: flex;
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}

.services p {
    position: relative;
    color: black;
    width: 80%;
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
}

.mulai {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.car {
    position: relative;
    height: auto;
}

.car img {
    align-items: flex-end;
    display: flex;
    position: relative;
    z-index: 0;
    top: -40px;
    width: 90%;
    vertical-align: bottom;
    height: auto;
    float: right;
}

.car-forms-input {
    z-index: 2;
    width: 80%;
    margin: auto;
    position: absolute;
    margin-top: -50px;
}

.car-description {
    height: 72px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.show-car {
    margin-top: 80px !important;
    /* padding: 0px !important; */
}

.select {
    width: 100%;
    font-size: 12px;
    text-align: left;
}

.select input {
    height: 30px;
    width: 100%;
}

.filter {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.footer {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    left: 10%;
    height: 128px;
    margin-top: 100px;
}

.footer-list {
    top: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 12 px;
    line-height: 20px;
    list-style: none;
    color: black;
}

.footer-list li {
    margin-bottom: 16px;
}

.social {
    display: flex;
    list-style: none;
    padding: 0px;
    margin-bottom: 40px;
}

.social li {
    list-style: none;
    float: left;
    margin-right: 16px;
    margin-top: 16px;
}

.footer-logo {
    position: absolute;
    width: 100px;
    height: 34px;
    top: 36px;
    background: #0D28A6;
}